.authContainer {
  width: 25%;
  border: 1px solid var(--subtheme-color);
  padding-block: 30px;
  border-radius: 10px !important;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardLabel {
  font-weight: 500;
  font-size: 25px;
}

.cardLabel:nth-child(even) {
  color: var(--theme-color);
  font-size: 35px;
}

@media (max-width: 1450px) {
  .authContainer {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .authContainer {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .authContainer {
    width: 95%;
  }
}
